[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "asciichartr"]
	path = asciichartr
	url = https://github.com/blmayer/asciichartr
[submodule "deep"]
	path = deep
	url = https://github.com/blmayer/deep
